* {
  box-sizing: border-box;
  outline: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {}

h4 {
  color: #ee6e73;
  font-weight: 300;
}

td,
th {
  padding: 10px 5px;
}

pre {
  line-height: 1em;
  background-origin: content-box;
  padding: 0 20px;
  white-space: pre-wrap;
  text-align: justify;
  font-family: calibri, arial, sans-serif;
}

select.default {
  display: block;
}

.hljs-line-numbers {
  text-align: right;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hljs-ln-numbers {
  padding: 3px 3px !important;
  width: 30px !important;
}

.input-field {
  margin: 0;
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 7%;
  }
}

/* input range */

.range-value {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin: 0 auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
  transform: translateY(7px);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

​ input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}

.input-field>label:not(.label-icon).active {
  transform: translateY(-5px) scale(0.8)
}

.sort {
  display: inline-block;
  margin-right: 20px;
  user-select: none;
  cursor: pointer;
}

.sort * {
  display: inline-block;
  vertical-align: middle;
}

.sort i {
  transition: .5s cubic-bezier(0.8, 1.1, 0.2, -1);
}

.sort span {
  width: 30px;
  height: 28px;
  display: inline-block;
  text-align: right;
}

.fade {
  animation: fadeIn .2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.fadeDown {
  animation: fadeDown .3s linear;
  animation-fill-mode: both;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(30px) scale(.8);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.sort.up i {
  transform: rotate(62deg)
}

.sort.down i {
  transform: rotate(-120deg)
}

.sort.none i {
  transform: rotate(-28deg)
}