* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

h4 {
  color: #ee6e73;
  font-weight: 300;
}

pre {
  line-height: 1em;
  background-origin: content-box;
  padding: 0 20px;
  white-space: pre-wrap;
  text-align: justify;
  font-family: calibri,arial,sans-serif;
}

.hljs-line-numbers {
	text-align: right;
	color: #999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  user-select: none;
}
.hljs-ln-numbers{
  padding: 3px 3px !important;
  width: 30px !important;
}
.task {

}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 7%;
  }
}